body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.recharts-legend-wrapper {
  width: 100% !important;
}

.react-tabs__tab-panel,
.react-tabs__tab-panel--selected {
  background: white; 
}

.react-tabs__tab:focus:after {
  content: '';
  position: absolute;
  height: 0px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

.react-tabs__tab-list {
  /* border-bottom: 0px !important; */
  height: 50px;
  background: #009EDC;
}

.react-tabs__tab--selected {
  border-color: #009EDC !important;
}
.react-tabs__tab,
.react-tabs__tab--selected {
  background: #009EDC !important;
  color: white !important;
}

.donuts_wrapper {
  width: 100%;
  overflow: hidden;
  height: 40%;
}

.donut_wrapper {
  float: left;
  /* width: 19.6%;
  height: 40%; */
}

.status_select {
  width: 300px;
  text-align: center;
  height: 25px;
}

.tabs_container {
  background: "#009EDC";
}

.react-time-picker {
  width: 150px !important;
}

.donut_header {
  margin-top: 1px;
  text-align: center;
  font-weight: 800;
  font-size: large;
}

.recharts-wrapper {
  height: 100% !important;
  width: 100% !important;
}

#stopped_img {
  width: 22px;
  height: 22px;
}

#running_img {
  width: 20px;
  height: 20px;
}

.react-tabs__tab-panel--selected {
  padding-left: 20px;
}

path .recharts-sector:hover {
  outline: 0px !important;
}
.css-1u2k0bl {
  position: inherit !important;
  margin-right: 10px;
  float: left;
}
.css-0{
  margin: auto;
  
}

.search_input {
  width: 95%;
  height: 25px;
  float: left;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

.modal.enter-done {
  opacity: 1;
  pointer-events: visible;
}

.modal.exit {
  opacity: 0;
}

.modal-dialog{
  overflow-y: initial !important;
  width: 100%;
  height: 100%;
}

.modal-content {
  width: 80%;
  height: 85%;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  transform: translateY(-200px);
  display: inline-grid;
}

.modal.enter-done .modal-content {
  transform: translateY(0);
}

.modal.exit .modal-content {
  transform: translateY(-200px);
}

.react-time-picker {
  height: 25px;
  width: 100px;
}

.modal-header,
.modal-footer {
  padding-left: 20px;
  align-self: center;
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
}

.modal_send {
  float: right;
  margin-right: 15px;
  margin-top: 5px;
  height: 30px;
}

.refresh_now {
  float: left;
  margin-right: 15px;
  height: 30px;
  margin-left: 30px;
  width: 35%;
  background-color: #009EDC;
  color: white;
  border: 0em;
}

.refresh_now:disabled,
.refresh_now[disabled]{
  border: 1px solid #999999;
  background-color: #009EDC;
  color: #666666;
}

.filter_select {
  float: left;
  margin-right: 15px;
  margin-left: 50px;
  height: 30px;
  width: 35%;
  text-align: center;
}

.modal-title {
  margin: 0;
}

.modal-body {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  overflow-y: auto;
}

/* th:nth-child(1) {
  width: 40%;
} */

.styled-table th:nth-child(-n+2) {
  /* width: 30%; */
  width: 200px;
  text-align: left;
}

.styled-table th:nth-child(n+3) {
  width: 50px;
  text-align: center;
}


.styled-table td:nth-child(-n+2) {
  /* width: 30%; */
  width: 200px;
  text-align: left;
}

/* td:nth-child(2) {
  width: 200px;
} */

.styled-table td:nth-child(n+3) {
  width: 50px;
  text-align: center;
}

.table_container {
  width: 99%;
  overflow: hidden;
  /* width: 800px; */
}

.styled-table {
  /* table-layout: fixed; */
  border-collapse: collapse;
  margin: 10px 0;
  font-size: 1em;
  /* font-family: sans-serif; */
  min-width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  /* display: grid; */
}

.styled-table thead tr {
  background-color: black;
  /* display: block; */
  color: #ffffff;
  /* text-align: center; */
}

.styled-table tbody {
  /* display:block; */
  width: 100%;
  overflow: auto;
  /* height: 100px; */
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    /* text-align: center; */
}


.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: rgb(210, 233, 251);
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid black;
}


@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #009EDC; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}